  <h1>Detalles</h1>

  {{#each birds as |bird|}}
<h1>{{bird.name}}</h1>

<h2>{{bird.class}}</h2>

<p>{{bird.description}}</p>

<p>{{bird.habitat}}</p>

<!--<select name="migration" id="">Migratoria
    <option value="yes">Si</option>
    <option value="no">No</option>
</select> -->

<img src="../../public/images/birdDefault.png" alt="image/{{bird.name}}">
  {{/each}}